
<style>
  body {
    margin: 0;
    font-family: Karla;
    display: flex;
  }
  .sidebar {
    width: 220px;
    height: 100vh;
    background-color: #1f2937;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
  }

  .sidebar h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    margin: 15px 0;
  }

  .sidebar ul li a {
    color: #cbd5e0;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
  }

  .sidebar ul li a:hover {
    color: #fff;
  }

  .main-content {
    margin-left: 220px;
    padding: 30px;
    flex-grow: 1;
    background-color: #f9fafb;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .main-content button {
        width: 100px;
        padding: 12px;
        background-color: #086b94;
        border: none;
        border-radius: 6px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        margin-top: 10px;
}
</style>

<div class="sidebar">
  <ul>
    <li><a href="/org_dashboard">Dashboard</a></li>
    <li><a href="/org_eventsform">Events Form</a></li>
    <li><a href="/org_scanner">Scanner</a></li>
  </ul>
  <div class="bottom-section">
  <form action="{% url 'logout_view' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
  </form>
  </div>
</div>

<div class="main-content">

<h1>Events Form</h1>
<form method="post" action="#">
  {% csrf_token %}

  <label for="name">Event Name:</label><br>
  <input type="text" id="name" name="name" maxlength="100" required><br><br>

  <label for="description">Description:</label><br>
  <textarea id="description" name="description" rows="5" cols="50" required></textarea><br><br>

  <label for="location">Location:</label><br>
  <input type="text" id="location" name="location" maxlength="50" required><br><br>

  <label for="service_hours">Service Hours:</label><br>
  <input type="number" id="service_hours" name="service_hours" min="0" required><br><br>

  <label for="number_of_students">Number of Students:</label><br>
  <input type="number" id="number_of_students" name="number_of_students" min="1" required><br><br>

  <label for="role_descriptions">Role Descriptions:</label><br>
  <textarea id="role_descriptions" name="role_descriptions" rows="4" cols="50"></textarea><br><br>

  <label for="start_datetime">Start Date & Time:</label><br>
  <input type="datetime-local" id="start_datetime" name="start_datetime" required><br><br>

  <label for="end_datetime">End Date & Time:</label><br>
  <input type="datetime-local" id="end_datetime" name="end_datetime" required><br><br>

  <button type="submit">Create Event</button>
</form>

</div>