
<style>
  body {
    margin: 0;
    font-family: Karla;
    display: flex;
  }
  .sidebar {
    width: 220px;
    height: 100vh;
    background-color: #1f2937;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
  }

  .sidebar h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    margin: 15px 0;
  }

  .sidebar ul li a {
    color: #cbd5e0;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
  }

  .sidebar ul li a:hover {
    color: #fff;
  }

  .main-content {
    margin-left: 220px;
    padding: 30px;
    flex-grow: 1;
    background-color: #f9fafb;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .event_cell {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.event_cell #event-name{
  font-weight: bold;
  font-size: 20px;
}

.per_event{
  width: 100%;
}
.per_event td{
  width: 200px;
}
</style>

<div class="sidebar">
  <ul>
    <li><a href="/org_dashboard">Dashboard</a></li>
    <li><a href="/org_eventsform">Events Form</a></li>
    <li><a href="/org_scanner">Scanner</a></li>
  </ul>
  <div class="bottom-section">
  <form action="{% url 'logout_view' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
  </form>
  </div>
</div>

<div class="main-content">
<h1>Dashboard</h1>
<div>
  <h2>Approved Events</h2>
  {% for event in approved_events %}
  <div class="event_cell">
          <table class="per_event">
          <tr>
          <td>
          <a href="/org_events_detail/{{event.id}}"><div id="event-name">{{ event.name }}</div></a>
          <br>
          <div id="event-organizer">{{ event.organizer.name }}</div></td>
          <td><div id="event-slots">Remaining Slots: <br>{{ event.remaining_slots }}</div></td>
          <td><div id="event-time">
            From: {{ event.start_datetime }}
            <br>
            To: {{ event.end_datetime }}

          <td>Service Hours: <br>{{ event.service_hours }}</td>
            </div>
          </td>
          </tr>
          </table>
          </div> {% endfor %}
  
</div>
<div>
  <h2>Unapproved Events</h2>
  {% for event in unapproved_events %}
  <div class="event_cell">
          <table class="per_event">
          <tr>
          <td>
          <a href="/org_events_detail/{{event.id}}"><div id="event-name">{{ event.name }}</div></a>
          <br>
          <div id="event-organizer">{{ event.organizer.name }}</div></td>
          <td><div id="event-slots">Remaining Slots: <br>{{ event.remaining_slots }}</div></td>
          <td><div id="event-time">
            From: {{ event.start_datetime }}
            <br>
            To: {{ event.end_datetime }}

          <td>Service Hours: <br>{{ event.service_hours }}</td>
            </div>
          </td>
          </tr>
          </table>
          </div> {% endfor %}
</div>
</div>
