<style>
  body {
    margin: 0;
    font-family: Karla;
    display: flex;
  }
  .sidebar {
    width: 220px;
    height: 100vh;
    background-color: #1f2937;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
  }

  .sidebar h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    margin: 15px 0;
  }

  .sidebar ul li a {
    color: #cbd5e0;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
  }

  .sidebar ul li a:hover {
    color: #fff;
  }

  .main-content {
    margin-left: 220px;
    padding: 30px;
    flex-grow: 1;
    background-color: #f9fafb;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
  }
</style>

<div class="sidebar">
  <ul>
    <li><a href="/org_dashboard">Dashboard</a></li>
    <li><a href="/org_eventsform">Events Form</a></li>
    <li><a href="/org_scanner">Scanner</a></li>
  </ul>
  <div class="bottom-section">
    <form action="{% url 'logout_view' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  </div>
</div>

<div class="main-content">
  <h1>Scanner</h1>
  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  <div id="reader" style="width: 300px"></div>
  <p>Scanned Result: <span id="qr-result"></span></p>

  <script>
    function onScanSuccess(decodedText, decodedResult) {
      try {
        fetch("/org_scanner", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ qr_data: decodedText }),
        })
          .then((res) => res.json())
          .then((data) => {
            document.getElementById("qr-result").innerText =
              data.success || data.error;
          });
      } catch (error) {
        document.getElementById("qr-result").innerText = "Scanning Failed";
      }
    }

    let html5QrcodeScanner = new Html5QrcodeScanner("reader", {
      fps: 10,
      qrbox: 250,
    });
    html5QrcodeScanner.render(onScanSuccess);
  </script>
</div>
