<style>
  body {
  margin: 0;
  font-family: Karla;
  display: flex;
}

/* Sidebar styling */
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1f2937;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
}

.sidebar h2 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #cbd5e0;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  color: #fff;
}

.main-content {
  margin-left: 220px;
  padding: 30px;
  flex-grow: 1;
  background-color: #f9fafb;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
}
</style>

<div class="sidebar">
  <ul>
  <li><a href="/student_dashboard">Dashboard</a></li>
  <li><a href="/student_opportunities">Opportunities</a></li>
  <li><a href="/student_calendar">Calendar</a></li>
  </ul>
  <div class="bottom-section">
  <form action="{% url 'logout_view' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
  </form>
  </div>
</div>


<div class="main-content">
<h1>Opportunity</h1>
<table style="width: 100%">
<tr>
<td>
<div>
{% if event %}

<div><b>{{ event.name }}</b></div>
<div>Organizer: {{ event.organizer.name }}</div>
<div>{{ event.desciption}}</div>
<br>
<table>
    <tr>
        <td>Remaining Slots: </td>
        <td>{{ event.remaining_slots }}</td>
    </tr>
    <tr>
        <td>Start: </td>
        <td>{{ event.start_datetime }}</td></tr>
    <tr>
        <td>End:</td>
        <td>{{ event.end_datetime }}</td>
    </tr>
    <tr>
        <td>Service Hours: </td>
        <td>{{ event.service_hours }}</td>
    </tr>
    <tr>
        <td>Task: </td>
        <td> {{ event.role_description }}</td>
    </tr>
</table>
{% if user_event_status %}
<br>
<br>
<div>You already joined this event.</div>
</td>
<td>
{% if attended %} 
<h3>Already Attended</h3>
{% else %}
<h3>Your QR Code:</h3>
<img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
{% endif %}
{% else %}
</div>
{% if not events.isfull %}
<form method="POST" action="#">
  {% csrf_token %}
  <input type="submit" value="Sign up" />
</form>
{% else %}
<div>Event is already full</div>
{% endif %}
<br/>
{% endif %} {% endif %}
</td>
</tr>
</table>
</div>
