<style>
  table {
    width: 50%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 12px; /* 👈 Increase this value for more space */
    border: 1px solid #ccc; /* Optional: adds borders */
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }

    body {
  margin: 0;
  font-family: Karla;
  display: flex;
}

/* Sidebar styling */
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1f2937;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
}

.sidebar h2 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #cbd5e0;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  color: #fff;
}

.main-content {
  margin-left: 220px;
  padding: 30px;
  flex-grow: 1;
  background-color: #f9fafb;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
}

#add-sched {
        width: 150px;
        padding: 12px;
        background-color: #086b94;
        border: none;
        border-radius: 6px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        margin-top: 10px;
}

#delete{
  background-color: #891108;
  color: #ffffff;
}
</style>

<div class="sidebar">
  <ul>
  <li><a href="/student_dashboard">Dashboard</a></li>
  <li><a href="/student_opportunities">Opportunities</a></li>
  <li><a href="/student_calendar">Calendar</a></li>
  </ul>
  <div class="bottom-section">
  <form action="{% url 'logout_view' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
  </form>
  </div>
</div>

<body>
<div class="main-content">
<h1>Calendar</h1>
<table>
  <tr>
    <th>Subject</th>
    <th>Day</th>
    <th>Start</th>
    <th>End</th>
    <th>Action</th>
  </tr>
  {% for schedule in schedules %}
  <tr>
    <td>{{ schedule.subject }}</td>
    <td>{{ schedule.day_of_week }}</td>
    <td>{{ schedule.start_time }}</td>
    <td>{{ schedule.end_time }}</td>
    <td>
      <form method="post">
        {% csrf_token %}
        <input value="{{schedule.id}}" hidden name="to_delete_schedule_id" />
        <button type="submit" id="delete">X</button>
      </form>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="4">No class schedules yet.</td>
  </tr>
  {% endfor %}
</table>
<h2>Add Class Schedule</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" id="add-sched">Add Schedule</button>
</form>
</div>
</body>

