<style>
  body {
  margin: 0;
  font-family: Karla;
  display: flex;
}

/* Sidebar styling */
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1f2937;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
}

.sidebar h2 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #cbd5e0;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  color: #fff;
}


/* Main content area */
.main-content {
  margin-left: 220px;
  padding: 30px;
  flex-grow: 1;
  background-color: #f9fafb;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: scroll;
}

.hours-summary {
  width:100%;
}

.hours-summary td{
  text-align: center;
  align-content: center ;
}

.hours-summary .cell{
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 40;
  font-weight:bold;
  margin: auto;
}

.event_cell {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.event_cell #event-name{
  font-weight: bold;
  font-size: 20px;
}

.per_event{
  width: 100%;
}
.per_event td{
  width: 200px;
}
</style>

<body>

<div class="sidebar">
  <ul>
  <li><a href="/student_dashboard">Dashboard</a></li>
  <li><a href="/student_opportunities">Opportunities</a></li>
  <li><a href="/student_calendar">Calendar</a></li>
  </ul>
  <div class="bottom-section">
  <form action="{% url 'logout_view' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
  </form>
  </div>
</div>


<div class="main-content">
  <h1>Student Dashboard</h1>
  <h2>Summary</h2>
  {% if student %}
  <table class="hours-summary">
    <tr>
      <th>Required Hours</th>
      <th>Penalty Hours</th>
      <th>Completed Hours</th>
    </tr>
    <tr>
      <td><div class="cell">{{ student.required_service_hours }}</div></td>
      <td><div class="cell">{{ student.penalty_service_hours }}</div></td>
      <td><div class="cell">{{ student.completed_service_hours }}</div></td>
    </tr>
  </table>
  {% endif %}

  <h2>Upcoming Events</h2>
  {% if events %}
    {% for event in events %}
            
          <div class="event_cell">
          <table class="per_event">
          <tr>
          <td>
          <a href="student_opportunities_details/{{ event.id }}"><div id="event-name">{{ event.name }}</div></a>
          <br>
          <div id="event-organizer">{{ event.organizer.name }}</div></td>
          <td><div id="event-slots">Remaining Slots: <br>{{ event.remaining_slots }}</div></td>
          <td><div id="event-time">
            From: {{ event.start_datetime }}
            <br>
            To: {{ event.end_datetime }}

          <td>Service Hours: <br>{{ event.service_hours }}</td>
            </div>
          </td>
          </tr>
          </table>
          </div>
          
    {% endfor %}
  {% endif%}

  <h2>Attended Events</h2>
  {% if attended_events %}
    {% for event in attended_events %}
          <div class="event_cell">
          <table class="per_event">
          <tr>
          <td>
          <a href="student_opportunities_details/{{ event.id }}"><div id="event-name">{{ event.name }}</div></a>
          <br>
          <div id="event-organizer">{{ event.organizer.name }}</div></td>
          <td><div id="event-slots">Remaining Slots: <br>{{ event.remaining_slots }}</div></td>
          <td><div id="event-time">
            From: {{ event.start_datetime }}
            <br>
            To: {{ event.end_datetime }}

          <td>Service Hours: <br>{{ event.service_hours }}</td>
            </div>
          </td>
          </tr>
          </table>
          </div>
    {% endfor %}
  {% endif%}

  <h2>Missed Events</h2>
  {% if missed_events %}
    {% for event in missed_events %}
          <div class="event_cell">
          <table class="per_event">
          <tr>
          <td>
          <a href="student_opportunities_details/{{ event.id }}"><div id="event-name">{{ event.name }}</div></a>
          <br>
          <div id="event-organizer">{{ event.organizer.name }}</div></td>
          <td><div id="event-slots">Remaining Slots: <br>{{ event.remaining_slots }}</div></td>
          <td><div id="event-time">
            From: {{ event.start_datetime }}
            <br>
            To: {{ event.end_datetime }}

          <td>Service Hours: <br>{{ event.service_hours }}</td>
            </div>
          </td>
          </tr>
          </table>
          </div>
    {% endfor %}
  {% endif%}
</div>
</body>